{{url}}
<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

<!--  <a mat-button [routerLink]="['profile']">Profile</a>-->

<!--  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>-->
  <button mat-raised-button *ngIf="authService.isLoggedIn" (click)="authService.logOut()">Logout</button>
</mat-toolbar>
<button (click)="apiCall()">Call API</button>
{{apiReqResult | json}}
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet></router-outlet>
</div>
